<h1>Footer</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, error! Consequuntur soluta quis eum dolorum suscipit. Non doloribus error adipisci in voluptas. Eveniet nisi perferendis quasi expedita temporibus in. Nam.
</p>